In [2]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)

In [330]:
import requests

cookies = {
    '_d_id': '6d6e4f87-cf90-4bd3-acbd-abab61cb227b',
    'user_uuid': 'ff1a3e7a.8770.48be.b576.c1ab03356c57vpbFrWqi1P',
    'mynt-eupv': '1',
    'ru': 'OBxEOxAyeUAVT1BheUZzdQAwBQ9bRnJtI0pFX1xKGUFkB00IOTgXAEQhWA9SfUAwIzMzNDUzMDI1NTUkMg%3D%3D.aeb3a4dd2c62217bcf777371b24ee4f8',
    'mynt-ulc-api': 'pincode%3A110043',
    'x-mynt-pca': 'J1y41AJhBuqvny1AwGkMCFkD1N774FC9Ix9jO6bjhX5WaLx3x8qU_HDr2bodLvBWteoDUpHppkBojGiqc3fNp7pMWfJX8huMxj96JZq755qH75PE_tob_XljMATtBmDcqwbrH3NV6cNRfcZzgf6h-gvTuR71D4cr8tjAXZu8pzncfuwEVU9j94K43u5UibcXUbLQZ0FkQZprRXz8HL-Ki5fV3B6uvh9ZXg%3D%3D',
    'at': 'ZXlKaGJHY2lPaUpJVXpJMU5pSXNJbXRwWkNJNklqRWlMQ0owZVhBaU9pSktWMVFpZlEuZXlKdWFXUjRJam9pWkRsaU1ETTNZamt0WldRM1ppMHhNV1l3TFdJMFlXSXRaVEkwTTJVMVkyUTJZV0ZsSWl3aVkybGtlQ0k2SW0xNWJuUnlZUzB3TW1RM1pHVmpOUzA0WVRBd0xUUmpOelF0T1dObU55MDVaRFl5WkdKbFlUVmxOakVpTENKaGNIQk9ZVzFsSWpvaWJYbHVkSEpoSWl3aWMzUnZjbVZKWkNJNklqSXlPVGNpTENKbGVIQWlPakUzT0RNMU16RXpPREVzSW1semN5STZJa2xFUlVFaWZRLnR0cjFteFpDdXpUZEJyUGxPZ05uRTlxT29aVUpYU1RqSmxCVFFPT2Y1Zmc=',
    'ak_bmsc': '8FFB8C2CE7838522C11AA074F282C305~000000000000000000000000000000~YAAQbAVaaHiGfyybAQAAFIKZqB7JiZLD+QJEmrK8rLSBBYKqvylLDfjFS3eE0FMnsVCeosX76QWaoT0drdDGVKuVqBS5/a6se8O2Nw5I+BdKITr2LvKNztyfPFQD2HLEC/tfC4QIUC/cLKFdJyIcAlHf59Ed/tmwJBGDh1j1o5UY7Yw7sPdy/D9Z7Lyqd1Z9O635vbLTKmBDIsXNRbIU/sekTuH9+j4iJP8b18qeLeAvNNsh+aWbgf5TbbCaJzRgHVWXWfIiSmLp89AV6eLP/vehQU98EQcWVCOj5GqeW+O0mg9aPvFXShQpR9wXddKoojehzWHe8oghZ0eTfgUfLodxvYv/rwPGe2hrcGg0pwMcoZi33KhKLKmvdAYswgCc0OaVdHBSUHe6i+2rAZEXEM20Vrd3el4qQfLo1zhlX5kP8O/9qg==',
    '_abck': 'D303301F9DE0AF2DE82AFF6553F23169~0~YAAQbAVaaHuGfyybAQAAz4KZqA8+v5HUeHVGw9rYMI6eA9CB3c/DYPbh/dwromANqPlueQ9hfShIaAcU32ERq+T5lXAH6rPXPz/MPAMDd2Cg8TsNQF2TBe+wp9I5BSP5D+bXU3Labg/Cie1BAly2FR8TwaQ15wN3cZ/wmre05R6m451qF0tVKzFoo4SNUz7F/C3esrmbU+uaOXX0u0mBvaneRDw6xCxei9GU6O/j9gt8IKy3s2fjtaAMRdiyGqmwSUzUdCope/V/LscrKhUI6q3FVwlYAvKopC+Pn2XE2aFFa7GtOVCeiGWQ0rXv9qKVTVhiibvjnaWTFFGXWTnu46orhY2ZRq9rVIt/DEwHj/QsvUWDiJTrZZjCfkPLFM8PaCowo43yyv9XWyt3l/AMtUsBdi3EcINWoi9+MF8swaGpHmxe3zmp0jKAS8s2yhi7Il24sXcZLYJu53WpTFp5YPMjs+bfCcb7msICIgOFTz1nzN/QK5nU4ep+gtjul3KCxRTd9LL36pL6trjw3RDPqZVG9GFuCqK1vq8LNC6j7eq72RUfOnfLVYXTa1cnEF5GuQd3CJeTh+2eq5ArcwMQS9HhjtILrDwfT8ol5SJ7BQtiUAd/YDzxJWA4ifsm8uCDV8oV+bkmRHswXa85j5LIVa8lEdMWSdEBMsQz2bp1AFjDCuuf3U69h9dDkVEGA7e8Gjp6oCyqJNVdTMIkoEMxDX9gfCr3IKDTG11beiirhkXYAggXfNXgC3b97ErEReSarg0B+cT4veATv5eTzAYc77ngAQZVHPL/w0rjxLB+5HNy0CwEg4n7fqjfQzuCdwnHoMbHsQSjAL5bWyUCH/wsOJW0T89dOXF8W5Ka8oVn7FXLUC0yG4kuJmTcOjrZeo8UW1gaFlP5jaAW3Ges07/D3WdRRTitdSGMggBWvWFnXsDqD7I1D7xh6m8kP1TA40hDknQWqlk=~-1~-1~-1~AAQAAAAE%2f%2f%2f%2f%2f1H4IiPZKVVa%2frE3uZskeuzzHdJOyaRGoCmI6JMxf5ObiOsYCci60LhwXyO7gZikzuW+URHpgTQmTZxLEwhkWKJwvSuTvVMuK8qjX4zO9eDGAJEc9gZkhBPJeu7za5pIo6Y63d0%3d~-1',
    'bm_sz': '2B5A88FD16E834E35D8742A65C607790~YAAQbAVaaHyGfyybAQAA0IKZqB7RuIKPXsVnqFvJ3IgMc1KyvcxqmTRXsvDRP1wU/uagO0hZAUU9YNJBrolwlos+O+ujEf/JkV1penVCWzKIvINtqO5ty5KlfSvQQvRjHCRa9aQF3JcDB4hciHMKSg+51YVONkaeuuO9xyBfAr8fmczJzu1OXeQLuPF/z45jEnwu+5wrqIvOWbcR/xS6RyslLUZEa5ogr2mjuQewsWAhyxXqBXlYHYdsFwbl4rzgl7q3c9AtykUxXRpAulqU4yKPqavN7sk+yvNDzPkqkKcTq5KY7p/fQbzTCVJwjrKhn3aLIYnxKD3GzutXbojjppl71jlXIjVNPxOwJCO3Lu/QjyL8e3hfFff2paQmKvsHj0p3gUB87l4x9QgkLcwwe5s=~4601397~3687238',
    '_xsrf': 'zodOydRPWZqOV5ZqMtRFdGD8DNkqBYIY',
    'mynt-loc-src': 'expiry%3A1768061632344%7Csource%3AIP',
    'utrid': 'Cl15GW9xQn8LSlt5BGFAMCMyNTc1NjU4MDg0JDI%3D.5b69554658b397f9482bd0e3e0ce5f15',
    'bm_mi': 'A7E205D6787DAB1CB84412BF6FF42A6A~YAAQDQVaaNLvxiCbAQAAXKyZqB5hNvqYqORA/x4TJbs/Co9adogq1xBRbDd/3HsIL1yg/PS94U5roaGkBScZV1hFSK+y/G/My/CZOC5EE9SNqy/zze9lwhHkFyhMTahO2TLHnoNwkhAlPW2EqC64CCT2m4WWSCEAdNDluOp81AaOCbzdoLVGvCK9XXg9Tb8MmW+1UGOixUGnEEfF2DsjRbajN2QpIjpdXsReF7hUBIzi98+MIftt1JwdHwBtxyvowqsD+T5+/EuwQ8oZhoSTWj0Lm+UnOJ3sDpRf7gj6T1lKd51p328wgZ8NJ1XhPXGaskM9fQ==~1',
    '_ma_session': '%7B%22id%22%3A%220e576cc6-8b25-4f06-a770-40acfb6877e7-6d6e4f87-cf90-4bd3-acbd-abab61cb227b%22%2C%22referrer_url%22%3A%22%22%2C%22utm_medium%22%3A%22%22%2C%22utm_source%22%3A%22%22%2C%22utm_channel%22%3A%22direct%22%7D',
    'bm_sv': '5406D16E35D65ED1C486B2637E3E46B8~YAAQZwVaaBQSOyubAQAALwj9qB7KH7+u+wzx0YbLHHhPWHwY+gEGZzkqZftiIZHKLJ1yC/Z9OeI7whulgi5/b/c2C5VHe1ZyN3WvQ8iC/zFUjywH8oU+u25vqL1hFhqq0OmJ6gLUyxcDuixa+uKicFK6mlejsCjkxUPDL66gCPrvunt5YMMv7KvGdffK+VzQQOYgnYXzWlQzmhz0yl8Ot+fIkDvPqt4AHHuFZl2HMr5ltuAn3FQhy/BE4zT6d5MP0w==~1',
}

headers = {
    'accept': 'application/json',
    'accept-language': 'en-US,en;q=0.6',
    'app': 'web',
    'content-type': 'application/json',
    'newrelic': 'eyJ2IjpbMCwxXSwiZCI6eyJ0eSI6IkJyb3dzZXIiLCJhYyI6IjMwNjIwNzEiLCJhcCI6IjcxODQwNzY0MyIsImlkIjoiNmEyY2QwNDQ4ZWJhNjQ3ZiIsInRyIjoiOWFhZmY3ODY0ZDgxYWMzY2Q0ZmQ0MWExY2VjMGEyNzQiLCJ0aSI6MTc2ODA2Njc1MTU3MSwidGsiOiI2Mjk1Mjg2In19',
    'pagination-context': '{"productRack":{"dsCnsdrd":0,"tp":"nonDS","cntCnsdrd":0,"slrCnsdrd":0},"scImgVideoOffset":"0_0","v":1.0,"productsRowsShown":25,"paginationCacheKey":"fcee4b27-94a1-407c-83ec-2245bce0ded4","inorganicRowsShown":3,"plaContext":"eyJvcmdhbmljQ3Vyc29yTWFyayI6IkFvY0lRclFBQUFZQUFBQUFVMUZ3Z0tIeDZJd0RCZ0FBQUFCZXc5QmxNREJmYzNSNWJHVmZNalkyTkRFME56QVx1MDAzZCIsInBsYU9mZnNldCI6MCwib3JnYW5pY09mZnNldCI6NTAsImV4cGxvcmVPZmZzZXQiOjAsImZjY1BsYU9mZnNldCI6MCwic2VhcmNoUGlhbm9QbGFPZmZzZXQiOjAsImluZmluaXRlU2Nyb2xsUGlhbm9QbGFPZmZzZXQiOjAsInRvc1BpYW5vUGxhT2Zmc2V0IjowLCJvcmdhbmljQ29uc3VtZWRDb3VudCI6NTAsImFkc0NvbnN1bWVkQ291bnQiOjAsImV4cGxvcmVDb25zdW1lZENvdW50IjowLCJjdXJzb3IiOnt9LCJwbGFzQ29uc3VtZWQiOltdLCJhZHNDb25zdW1lZCI6W10sIm9yZ2FuaWNDb25zdW1lZCI6W10sImV4cGxvcmVDb25zdW1lZCI6W119","refresh":false,"inorganicWidgetsOffset":{"bannerAdsOffset":0,"missionsOffset":0,"inlineFiltersGroupOffset":2,"relatedSearchesOffset":0,"productRacksOffset":0,"recSearchOffset":0,"trOffset":{"trendsRackOffset":1,"atsaOffset":1,"socialOffset":10}},"scOffset":0,"reqId":"fcee4b27-94a1-407c-83ec-2245bce0ded4"}',
    'priority': 'u=1, i',
    'referer': 'https://www.myntra.com/dresses?sort=discount&f=Gender%3Amen%20women%2Cwomen',
    'sec-ch-ua': '"Brave";v="143", "Chromium";v="143", "Not A(Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Linux"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'sec-gpc': '1',
    'traceparent': '00-9aaff7864d81ac3cd4fd41a1cec0a274-6a2cd0448eba647f-01',
    'tracestate': '6295286@nr=0-1-3062071-718407643-6a2cd0448eba647f----1768066751571',
    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36',
    'x-location-context': 'pincode=110043;source=IP',
    'x-meta-app': 'channel=web',
    'x-myntra-app': 'deviceID=6d6e4f87-cf90-4bd3-acbd-abab61cb227b;customerID=;reqChannel=web;appFamily=MyntraRetailWeb;',
    'x-myntraweb': 'Yes',
    'x-requested-with': 'browser',
    # 'cookie': '_d_id=6d6e4f87-cf90-4bd3-acbd-abab61cb227b; user_uuid=ff1a3e7a.8770.48be.b576.c1ab03356c57vpbFrWqi1P; mynt-eupv=1; ru=OBxEOxAyeUAVT1BheUZzdQAwBQ9bRnJtI0pFX1xKGUFkB00IOTgXAEQhWA9SfUAwIzMzNDUzMDI1NTUkMg%3D%3D.aeb3a4dd2c62217bcf777371b24ee4f8; mynt-ulc-api=pincode%3A110043; x-mynt-pca=J1y41AJhBuqvny1AwGkMCFkD1N774FC9Ix9jO6bjhX5WaLx3x8qU_HDr2bodLvBWteoDUpHppkBojGiqc3fNp7pMWfJX8huMxj96JZq755qH75PE_tob_XljMATtBmDcqwbrH3NV6cNRfcZzgf6h-gvTuR71D4cr8tjAXZu8pzncfuwEVU9j94K43u5UibcXUbLQZ0FkQZprRXz8HL-Ki5fV3B6uvh9ZXg%3D%3D; at=ZXlKaGJHY2lPaUpJVXpJMU5pSXNJbXRwWkNJNklqRWlMQ0owZVhBaU9pSktWMVFpZlEuZXlKdWFXUjRJam9pWkRsaU1ETTNZamt0WldRM1ppMHhNV1l3TFdJMFlXSXRaVEkwTTJVMVkyUTJZV0ZsSWl3aVkybGtlQ0k2SW0xNWJuUnlZUzB3TW1RM1pHVmpOUzA0WVRBd0xUUmpOelF0T1dObU55MDVaRFl5WkdKbFlUVmxOakVpTENKaGNIQk9ZVzFsSWpvaWJYbHVkSEpoSWl3aWMzUnZjbVZKWkNJNklqSXlPVGNpTENKbGVIQWlPakUzT0RNMU16RXpPREVzSW1semN5STZJa2xFUlVFaWZRLnR0cjFteFpDdXpUZEJyUGxPZ05uRTlxT29aVUpYU1RqSmxCVFFPT2Y1Zmc=; ak_bmsc=8FFB8C2CE7838522C11AA074F282C305~000000000000000000000000000000~YAAQbAVaaHiGfyybAQAAFIKZqB7JiZLD+QJEmrK8rLSBBYKqvylLDfjFS3eE0FMnsVCeosX76QWaoT0drdDGVKuVqBS5/a6se8O2Nw5I+BdKITr2LvKNztyfPFQD2HLEC/tfC4QIUC/cLKFdJyIcAlHf59Ed/tmwJBGDh1j1o5UY7Yw7sPdy/D9Z7Lyqd1Z9O635vbLTKmBDIsXNRbIU/sekTuH9+j4iJP8b18qeLeAvNNsh+aWbgf5TbbCaJzRgHVWXWfIiSmLp89AV6eLP/vehQU98EQcWVCOj5GqeW+O0mg9aPvFXShQpR9wXddKoojehzWHe8oghZ0eTfgUfLodxvYv/rwPGe2hrcGg0pwMcoZi33KhKLKmvdAYswgCc0OaVdHBSUHe6i+2rAZEXEM20Vrd3el4qQfLo1zhlX5kP8O/9qg==; _abck=D303301F9DE0AF2DE82AFF6553F23169~0~YAAQbAVaaHuGfyybAQAAz4KZqA8+v5HUeHVGw9rYMI6eA9CB3c/DYPbh/dwromANqPlueQ9hfShIaAcU32ERq+T5lXAH6rPXPz/MPAMDd2Cg8TsNQF2TBe+wp9I5BSP5D+bXU3Labg/Cie1BAly2FR8TwaQ15wN3cZ/wmre05R6m451qF0tVKzFoo4SNUz7F/C3esrmbU+uaOXX0u0mBvaneRDw6xCxei9GU6O/j9gt8IKy3s2fjtaAMRdiyGqmwSUzUdCope/V/LscrKhUI6q3FVwlYAvKopC+Pn2XE2aFFa7GtOVCeiGWQ0rXv9qKVTVhiibvjnaWTFFGXWTnu46orhY2ZRq9rVIt/DEwHj/QsvUWDiJTrZZjCfkPLFM8PaCowo43yyv9XWyt3l/AMtUsBdi3EcINWoi9+MF8swaGpHmxe3zmp0jKAS8s2yhi7Il24sXcZLYJu53WpTFp5YPMjs+bfCcb7msICIgOFTz1nzN/QK5nU4ep+gtjul3KCxRTd9LL36pL6trjw3RDPqZVG9GFuCqK1vq8LNC6j7eq72RUfOnfLVYXTa1cnEF5GuQd3CJeTh+2eq5ArcwMQS9HhjtILrDwfT8ol5SJ7BQtiUAd/YDzxJWA4ifsm8uCDV8oV+bkmRHswXa85j5LIVa8lEdMWSdEBMsQz2bp1AFjDCuuf3U69h9dDkVEGA7e8Gjp6oCyqJNVdTMIkoEMxDX9gfCr3IKDTG11beiirhkXYAggXfNXgC3b97ErEReSarg0B+cT4veATv5eTzAYc77ngAQZVHPL/w0rjxLB+5HNy0CwEg4n7fqjfQzuCdwnHoMbHsQSjAL5bWyUCH/wsOJW0T89dOXF8W5Ka8oVn7FXLUC0yG4kuJmTcOjrZeo8UW1gaFlP5jaAW3Ges07/D3WdRRTitdSGMggBWvWFnXsDqD7I1D7xh6m8kP1TA40hDknQWqlk=~-1~-1~-1~AAQAAAAE%2f%2f%2f%2f%2f1H4IiPZKVVa%2frE3uZskeuzzHdJOyaRGoCmI6JMxf5ObiOsYCci60LhwXyO7gZikzuW+URHpgTQmTZxLEwhkWKJwvSuTvVMuK8qjX4zO9eDGAJEc9gZkhBPJeu7za5pIo6Y63d0%3d~-1; bm_sz=2B5A88FD16E834E35D8742A65C607790~YAAQbAVaaHyGfyybAQAA0IKZqB7RuIKPXsVnqFvJ3IgMc1KyvcxqmTRXsvDRP1wU/uagO0hZAUU9YNJBrolwlos+O+ujEf/JkV1penVCWzKIvINtqO5ty5KlfSvQQvRjHCRa9aQF3JcDB4hciHMKSg+51YVONkaeuuO9xyBfAr8fmczJzu1OXeQLuPF/z45jEnwu+5wrqIvOWbcR/xS6RyslLUZEa5ogr2mjuQewsWAhyxXqBXlYHYdsFwbl4rzgl7q3c9AtykUxXRpAulqU4yKPqavN7sk+yvNDzPkqkKcTq5KY7p/fQbzTCVJwjrKhn3aLIYnxKD3GzutXbojjppl71jlXIjVNPxOwJCO3Lu/QjyL8e3hfFff2paQmKvsHj0p3gUB87l4x9QgkLcwwe5s=~4601397~3687238; _xsrf=zodOydRPWZqOV5ZqMtRFdGD8DNkqBYIY; mynt-loc-src=expiry%3A1768061632344%7Csource%3AIP; utrid=Cl15GW9xQn8LSlt5BGFAMCMyNTc1NjU4MDg0JDI%3D.5b69554658b397f9482bd0e3e0ce5f15; bm_mi=A7E205D6787DAB1CB84412BF6FF42A6A~YAAQDQVaaNLvxiCbAQAAXKyZqB5hNvqYqORA/x4TJbs/Co9adogq1xBRbDd/3HsIL1yg/PS94U5roaGkBScZV1hFSK+y/G/My/CZOC5EE9SNqy/zze9lwhHkFyhMTahO2TLHnoNwkhAlPW2EqC64CCT2m4WWSCEAdNDluOp81AaOCbzdoLVGvCK9XXg9Tb8MmW+1UGOixUGnEEfF2DsjRbajN2QpIjpdXsReF7hUBIzi98+MIftt1JwdHwBtxyvowqsD+T5+/EuwQ8oZhoSTWj0Lm+UnOJ3sDpRf7gj6T1lKd51p328wgZ8NJ1XhPXGaskM9fQ==~1; _ma_session=%7B%22id%22%3A%220e576cc6-8b25-4f06-a770-40acfb6877e7-6d6e4f87-cf90-4bd3-acbd-abab61cb227b%22%2C%22referrer_url%22%3A%22%22%2C%22utm_medium%22%3A%22%22%2C%22utm_source%22%3A%22%22%2C%22utm_channel%22%3A%22direct%22%7D; bm_sv=5406D16E35D65ED1C486B2637E3E46B8~YAAQZwVaaBQSOyubAQAALwj9qB7KH7+u+wzx0YbLHHhPWHwY+gEGZzkqZftiIZHKLJ1yC/Z9OeI7whulgi5/b/c2C5VHe1ZyN3WvQ8iC/zFUjywH8oU+u25vqL1hFhqq0OmJ6gLUyxcDuixa+uKicFK6mlejsCjkxUPDL66gCPrvunt5YMMv7KvGdffK+VzQQOYgnYXzWlQzmhz0yl8Ot+fIkDvPqt4AHHuFZl2HMr5ltuAn3FQhy/BE4zT6d5MP0w==~1',
}

params = {
    'sort': 'discount',
    'f': 'Gender:men women,women',
    'rows': '50',
    'o': '49',
    'plaEnabled': 'true',
    'xdEnabled': 'false',
    'isFacet': 'true',
    'p': '2',
    'pincode': '110043',
}

response = requests.get('https://www.myntra.com/gateway/v4/search/dresses', params=params, cookies=cookies, headers=headers)

In [ ]:
from datetime import date

data = response.json()
products = data.get("products", [])

snapshot_date = date.today().isoformat()
extracted_items = []

#loop through the products and extract features
for p in products:
    if not isinstance(p, dict):
        continue
    ALLOWED = {
        "Crazy_Deal",
        "Festive_Price_Crash",
        "GST_Benefit_Included",
        "Myntra_Unique"
        }

    tag_groups = p.get("styleTagEntry", {}).get("tagGroups", {})

    promotion_tags = [
        t["tagId"]
        for block in ("pricing", "selection")
        for t in tag_groups.get(block, {}).get("tagInfos", [])
        if t.get("tagId") in ALLOWED
        ]
    extracted_items.append({
        "product_id": p.get("productId"),
        "brand": p.get("brand"),
        "gender": p.get('gender'),
        "category": p.get("category"),
        "master_category": (p.get("masterCategory") or {}).get('typeName'),
        "su_cCategory": (p.get('subCategory') or {}).get('typeName'),
        "article_type": (p.get("articleType") or {}).get('typeName'),
        "mrp": p.get("mrp"),
        "price": p.get("price"),
        "discount": p.get("discount"),
        "discount_type": p.get("discountType"),
        "discount_display_label": p.get("discountDisplayLabel"),
        #"coupon_data" = p.get("couponData") or {},
        "coupon_discount" : (p.get("couponData") or {}).get("couponDiscount"),
        "best_price": ((p.get("couponData") or {}).get("couponDescription") or {}).get("bestPrice"),
        "rating": p.get("rating"),
        "rating_count": p.get("ratingCount"),
        "listViews": p.get("listViews"),
        "inventory": sum(i.get("inventory", 0) for i in p.get("inventoryInfo", [])),
        "available": any(i.get("available", False) for i in p.get("inventoryInfo", [])),
        "sizes": p.get("sizes"),
        "has_multiple_sizes": p.get("hasMultipleSizes"),
        "snapshot_date": snapshot_date,
        "season": p.get("season"),
        "is_fast_fashion": p.get("isFastFashion"),
        "promotion_tags": "|".join(promotion_tags),
        "has_promotion": bool(promotion_tags),
        "year": p.get('year'),
        "preferred_delivery_tag": p.get("preferredDeliveryTag"),
        "delivery_promise": p.get("deliveryPromise")
    })

In [ ]:

dff = pd.DataFrame(extracted_items)
print(dff.shape)
dff.head()

(50, 29)

,product_id,brand,gender,category,master_category,su_cCategory,article_type,mrp,price,discount,discount_type,discount_display_label,coupon_discount,best_price,rating,rating_count,listViews,inventory,available,sizes,has_multiple_sizes,snapshot_date,season,is_fast_fashion,promotion_tags,has_promotion,year,preferred_delivery_tag,delivery_promise
0,31654574,Chandbaali,Women,Dresses,Apparel,Dress,Dresses,6499,649,5850,1,(90% OFF),228,421,0.000000,0,0,15,True,"S,M,L,XL,XXL",True,2026-01-10,Summer,False,,False,2025,,
1,34524170,Stylecast X Kotty,Women,Dresses,Apparel,Dress,Dresses,2999,299,2700,1,(90% OFF),150,149,3.633333,30,0,125,True,"S,M,L,XL",True,2026-01-10,Summer,True,Crazy_Deal|Festive_Price_Crash|Myntra_Unique,True,2025,EXPRESS,Delivery By Jan 11
2,29026834,Stylecast X Kotty,Women,Dresses,Apparel,Dress,Dresses,2999,299,2700,1,(90% OFF),150,149,4.233333,30,0,9,True,"S,M,L,XL",True,2026-01-10,Summer,True,Myntra_Unique,True,2024,EXPRESS,Delivery By Jan 12
3,28350448,Stylecast X Kotty,Women,Dresses,Apparel,Dress,Dresses,2999,299,2700,1,(90% OFF),150,149,0.000000,0,0,15,True,"S,M,L,XL",True,2026-01-10,Summer,False,Myntra_Unique,True,2024,EXPRESS,Delivery By Jan 11
4,27908966,Stylecast X Kotty,Women,Dresses,Apparel,Dress,Dresses,2999,299,2700,1,(90% OFF),150,149,3.886364,44,0,1,True,"S,M,L,XL",True,2026-01-10,Summer,True,Myntra_Unique,True,2024,EXPRESS,Delivery By Jan 12

In [ ]:
#Concatenate new page data to old page data
import os

FILE_PATH = '/home/manju/projects/m8.csv'

if os.path.exists(FILE_PATH):
    old_df = pd.read_csv(FILE_PATH)
    final_df = pd.concat([old_df, dff], ignore_index=True)
else:
    final_df = dff

final_df.to_csv(FILE_PATH, index=False)

print("Total rows so far:", final_df.shape[0])

Total rows so far: 799

In [ ]:

df = pd.read_csv('/home/manju/projects/m8.csv')

df['product_id'].nunique()

747

In [ ]:
#Chceck no. of unique products
final_df['product_id'].nunique()

747

In [ ]:
#Concatenat discount, popular and recommended products
df_disc = pd.read_csv('/home/manju/projects/day1_disc.csv')
df_pop = pd.read_csv('/home/manju/projects/day1_pop.csv')
df_reco = pd.read_csv('/home/manju/projects/day1_rec.csv')

#adding sort column
df_reco["source_sort"] = "recommended"
df_pop["source_sort"] = "popularity"
df_disc["source_sort"] = "discount"

df_day_raw = pd.concat([df_pop, df_reco, df_disc], ignore_index=True)
print(df_day_raw.shape)
df_day_raw.head()

(2433, 31)

,Unnamed: 0,product_id,brand,gender,category,master_category,su_cCategory,article_type,mrp,price,discount,discount_type,discount_display_label,coupon_discount,best_price,rating,rating_count,listViews,inventory,available,sizes,has_multiple_sizes,snapshot_date,season,is_fast_fashion,promotion_tags,has_promotion,year,preferred_delivery_tag,delivery_promise,source_sort
0,NaN,29615058,TANDUL,Women,Dresses,Apparel,Dress,Dresses,1499,577,922,1.0,(Rs. 922 OFF),202.0,375.0,3.964602,339,0,1,True,"S,M,L,XL",True,2026-01-10,Summer,True,Festive_Price_Crash,True,2024,EXPRESS,Delivery By Jan 12,popularity
1,NaN,25497076,W,Women,Dresses,Apparel,Dress,Dresses,4599,2299,2300,1.0,(50% OFF),500.0,1799.0,4.298387,372,0,173,True,"XS,S,M,M/L,L,XL,XXL",True,2026-01-10,Fall,True,Festive_Price_Crash|Crazy_Deal,True,2023,EXPRESS,Delivery By Jan 12,popularity
2,NaN,20911328,Berrylush Curve,Women,Dresses,Apparel,Dress,Dresses,3499,1084,2415,1.0,(69% OFF),350.0,734.0,4.291102,4428,0,26,True,"XXL,3XL,4XL,5XL,6XL",True,2026-01-10,Summer,True,Festive_Price_Crash,True,2025,EXPRESS,Delivery By Jan 12,popularity
3,NaN,36145538,Tzelynn,Women,Dresses,Apparel,Dress,Dresses,1499,899,600,1.0,(40% OFF),315.0,584.0,3.896552,29,0,968,True,"S,M,L,XL",True,2026-01-10,Summer,True,NaN,False,2025,NaN,NaN,popularity
4,NaN,30663177,Berrylush,Women,Dresses,Apparel,Dress,Dresses,2799,727,2072,1.0,(74% OFF),255.0,472.0,4.055147,272,0,45,True,"XS,S,M,L,XL",True,2026-01-10,Summer,True,Crazy_Deal|Festive_Price_Crash,True,2025,EXPRESS,Delivery By Jan 12,popularity

In [340]:
#drop_duplicates
df_day = df_day_raw.drop_duplicates(subset=['product_id', 'snapshot_date'])
print(df_day.shape)
df_day.head()

(2006, 31)

,Unnamed: 0,product_id,brand,gender,category,master_category,su_cCategory,article_type,mrp,price,discount,discount_type,discount_display_label,coupon_discount,best_price,rating,rating_count,listViews,inventory,available,sizes,has_multiple_sizes,snapshot_date,season,is_fast_fashion,promotion_tags,has_promotion,year,preferred_delivery_tag,delivery_promise,source_sort
0,NaN,29615058,TANDUL,Women,Dresses,Apparel,Dress,Dresses,1499,577,922,1.0,(Rs. 922 OFF),202.0,375.0,3.964602,339,0,1,True,"S,M,L,XL",True,2026-01-10,Summer,True,Festive_Price_Crash,True,2024,EXPRESS,Delivery By Jan 12,popularity
1,NaN,25497076,W,Women,Dresses,Apparel,Dress,Dresses,4599,2299,2300,1.0,(50% OFF),500.0,1799.0,4.298387,372,0,173,True,"XS,S,M,M/L,L,XL,XXL",True,2026-01-10,Fall,True,Festive_Price_Crash|Crazy_Deal,True,2023,EXPRESS,Delivery By Jan 12,popularity
2,NaN,20911328,Berrylush Curve,Women,Dresses,Apparel,Dress,Dresses,3499,1084,2415,1.0,(69% OFF),350.0,734.0,4.291102,4428,0,26,True,"XXL,3XL,4XL,5XL,6XL",True,2026-01-10,Summer,True,Festive_Price_Crash,True,2025,EXPRESS,Delivery By Jan 12,popularity
3,NaN,36145538,Tzelynn,Women,Dresses,Apparel,Dress,Dresses,1499,899,600,1.0,(40% OFF),315.0,584.0,3.896552,29,0,968,True,"S,M,L,XL",True,2026-01-10,Summer,True,NaN,False,2025,NaN,NaN,popularity
4,NaN,30663177,Berrylush,Women,Dresses,Apparel,Dress,Dresses,2799,727,2072,1.0,(74% OFF),255.0,472.0,4.055147,272,0,45,True,"XS,S,M,L,XL",True,2026-01-10,Summer,True,Crazy_Deal|Festive_Price_Crash,True,2025,EXPRESS,Delivery By Jan 12,popularity

In [347]:
df_day.to_csv('day1_data.csv')